@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPageContainer.cshtml";
}

@*<h3>@ViewBag.Message</h3>*@
<br />
<div class="breadcrumb1">
    <ul>
        <a href="/Home"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        @ViewBag.Title
    </ul>
</div>
<br />
<div class="panel panel-primary">

    <div class="panel-heading">
        <span class="side-heading">@ViewBag.Title</span>
    </div>

    <div class="panel-body table no-top-bottom-padding">
        <br />
        <p>Please contact support.</p>
        <address>
            <strong>Support:</strong>   <a href="mailto:support@gowdaedigamarriages.com">support@gowdaedigamarriages.com</a><br />
        </address>
    </div>
</div>


